/* ==========================================================================
 # Variables (CSS)
========================================================================== */

:root {

/* Typography
  ----------------------------------------------- */

  --font-weight-heavy:  900;
  --font-weight-bold:   700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light:  300;

  --font-default: "Poppins",sans-serif;
  --font-title: "Space-Mono",sans-serif;

}