/* ==========================================================================
 # Variables (CSS)
========================================================================== */

:root {

 /* Basic colors
  ----------------------------------------------- */

  --color-primary:          #000;
  --color-primary-dark:     #313144;
  --color-primary-light:    #C4C4C4;


  --color-secondary:          #E00000;
  --color-secondary-dark:     #FE5858;
  --color-secondary-light:    #FFD6D6;




/* Typography
  ----------------------------------------------- */

  --font-weight-heavy:  900;
  --font-weight-bold:   700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light:  300;

  --font-default: "Poppins",sans-serif;
  --font-title: "Space-Mono",sans-serif;

}