.site-header-first {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 10em;
}

ul#menu-menu-principal {
  display: flex;
  list-style: none;
}
ul#menu-menu-principal li {
  margin-right: 1.5em;
}
ul#menu-menu-principal li a {
  font-family: "Space-Mono";
}
ul#menu-menu-principal li:last-child {
  margin-right: 0;
}

ul#menu-pied-de-page {
  display: flex;
  justify-content: center;
  list-style: none;
}
ul#menu-pied-de-page li {
  margin-right: 8em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
ul#menu-pied-de-page li a {
  font-family: "Space-Mono";
}
ul#menu-pied-de-page li:last-child {
  margin-right: 0;
}

.menu-pied-de-page-container {
  border-top: 1px solid #000;
}

h1.title-home {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 38%;
  color: transparent;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
}

img.attachment-home-featured.size-home-featured.wp-post-image {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
}

.popup {
  position: absolute;
  width: 500px;
  height: 760px;
  background-color: #fff;
  top: 10vh;
  right: 36vw;
  z-index: 2;
  display: none;
  border: 3px solid #000;
}

.popup.open {
  display: block;
}

.popup-header {
  margin-top: 1rem;
}

.fond-popup.open-fond {
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  opacity: 0.8;
}

.popup-formulaire {
  display: flex;
  justify-content: center;
}

input.wpcf7-form-control.wpcf7-submit {
  border-radius: 2px;
  background: #D8D8D8;
  padding: 8px 15px;
}

.header-photo {
  display: flex;
  align-items: flex-end;
}
.header-photo .column-left {
  width: 50%;
}
.header-photo .column-left h1 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
}
.header-photo .column-left p {
  font-family: var(--font-title);
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
}
.header-photo .column-right img {
  width: 560px;
  height: 850px;
  object-fit: cover;
}

/* ==========================================================================
 # Font faces declarations
========================================================================== */
@font-face {
  font-family: "Space-Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200 300 400 500 600 700;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
/* ==========================================================================
 # Typography
========================================================================== */
html {
  color: var(--color-text);
  font-family: var(--font-default);
  font-size: 100%;
  line-height: 1.5;
}

/* All elements
----------------------------------------------- */
* {
  text-underline-offset: 0.125em;
}

/* Paragraphs
----------------------------------------------- */
p, .p {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-default);
  margin-bottom: 1rem;
  word-break: break-word;
}

strong, b {
  font-weight: var(--font-weight-bold);
}

/* Titles
----------------------------------------------- */
h1, .h1 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h2, .h2 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h3, .h3 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h4, .h4 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h5, .h5 {
  font-family: var(--font-title);
  margin-bottom: 0;
}

/* Lists
----------------------------------------------- */
ul, ol {
  margin: 0;
}
ul li, ol li {
  font-size: 1rem;
  font-weight: var(--font-weight-light);
  line-height: 1.25;
}

/* Links
----------------------------------------------- */
a {
  font-family: var(--font-default);
  color: var(--color-link);
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

/* Accessibility
----------------------------------------------- */
a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.skip-to-content {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-block;
  left: -9999em;
  outline: none;
  padding: 1rem 1.5rem;
  position: absolute;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}
.skip-to-content:focus {
  clip: auto;
  height: auto;
  left: 0.5rem;
  top: 0.5rem;
  width: auto;
  z-index: 100000;
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

/* ==========================================================================
 # Normalize
========================================================================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: var(--font-default);
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  font-family: var(--font-default);
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  width: 260px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  height: 40px;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
 # Variables (CSS)
========================================================================== */
:root {
  /* Basic colors
   ----------------------------------------------- */
  --color-primary: #000;
  --color-primary-dark: #313144;
  --color-primary-light: #C4C4C4;
  --color-secondary: #E00000;
  --color-secondary-dark: #FE5858;
  --color-secondary-light: #FFD6D6;
  /* Typography
    ----------------------------------------------- */
  --font-weight-heavy: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-default: "Poppins",sans-serif;
  --font-title: "Space-Mono",sans-serif;
}/*# sourceMappingURL=style.css.map */