.site-header-first {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 10em;
}

ul#menu-menu-principal {
  display: flex;
  list-style: none;
}
ul#menu-menu-principal li {
  margin-right: 1.5em;
}
ul#menu-menu-principal li a {
  font-family: "Space-Mono";
}
ul#menu-menu-principal li a:hover {
  font-weight: 700;
}
ul#menu-menu-principal li:last-child {
  margin-right: 0;
}

/* Responsive */
@media (max-width: 990px) {
  body {
    padding-top: 80px;
  }
  .site-header-first {
    margin: 0;
  }
}
footer.site-footer {
  margin-top: 2rem;
}

ul#menu-pied-de-page {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
ul#menu-pied-de-page li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
ul#menu-pied-de-page li a {
  font-family: "Space-Mono";
}
ul#menu-pied-de-page li:last-child {
  margin-right: 0;
}

.menu-pied-de-page-container {
  border-top: 1px solid #000;
}

/* Responsive */
@media (max-width: 992px) {
  ul#menu-pied-de-page {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: column;
    align-items: center;
  }
}
h1.title-home {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 38%;
  color: transparent;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
}

img.attachment-home-featured.size-home-featured.wp-post-image {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
}

.filters-photos {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.filters-photos .filters-left {
  width: 50%;
  padding-left: 10rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.filters-photos .filters-left .filters-categories {
  margin-right: 2rem;
}
.filters-photos .filters-left p.title-filters-categories {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  cursor: pointer;
}
.filters-photos .filters-left .title-filters-categories.active svg {
  rotate: 180deg;
}
.filters-photos .filters-left ul.select-categories {
  padding: 0;
  display: none;
}
.filters-photos .filters-left ul.select-categories.open {
  display: block;
}
.filters-photos .filters-left .select-categories li {
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
}
.filters-photos .filters-left .select-categories li:active {
  background-color: #FE5858;
  color: #fff;
}
.filters-photos .filters-left .select-categories li:hover {
  background-color: #FFD6D6;
}
.filters-photos .filters-left .select-categories li.active {
  background-color: #E00000;
  color: #fff;
}
.filters-photos .filters-left p.title-filters-formats {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  cursor: pointer;
}
.filters-photos .filters-left .title-filters-formats.active svg {
  rotate: 180deg;
}
.filters-photos .filters-left ul.select-filters {
  padding: 0;
  display: none;
}
.filters-photos .filters-left ul.select-filters.open {
  display: block;
}
.filters-photos .filters-left .select-filters li {
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
}
.filters-photos .filters-left .select-filters li:active {
  background-color: #FE5858;
  color: #fff;
}
.filters-photos .filters-left .select-filters li:hover {
  background-color: #FFD6D6;
}
.filters-photos .filters-left .select-filters li.active {
  background-color: #E00000;
  color: #fff;
}

.filters-right {
  width: 50%;
  padding-right: 10rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.filters-right p.title-filters-tri {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  cursor: pointer;
}
.filters-right .title-filters-tri.active svg {
  rotate: 180deg;
}
.filters-right ul.select-tri {
  padding: 0;
  display: none;
}
.filters-right ul.select-tri.open {
  display: block;
}
.filters-right .select-tri li {
  background-color: #FFF;
  width: 220px;
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
}
.filters-right .select-tri li:active {
  background-color: #FE5858;
  color: #fff;
}
.filters-right .select-tri li:hover {
  background-color: #FFD6D6;
}
.filters-right .select-tri li.active {
  background-color: #E00000;
  color: #fff;
}

.home .latest-photos {
  flex-wrap: wrap;
}
.home .latest-photos .img-container {
  width: calc(50% - 2rem);
}

.load-button {
  display: flex;
  justify-content: center;
}
.load-button p.load-button-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 2.5rem;
  background: #D8D8D8;
  width: 272px;
  height: 50px;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: var(--font-title);
}

/* Responsive */
@media (max-width: 992px) {
  .filters-photos {
    display: flex;
    flex-direction: column;
  }
  .filters-photos .filters-left {
    width: 100%;
    padding-left: 0;
  }
  .filters-photos .filters-left .filters-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .filters-photos .filters-left .filters-formats {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .filters-photos .filters-right {
    width: 100%;
    padding-right: 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.popup {
  position: fixed;
  width: 500px;
  height: 760px;
  background-color: #fff;
  top: 10vh;
  right: 36vw;
  z-index: 2;
  display: none;
  border: 3px solid #000;
}

.popup.open {
  display: block;
}

.popup-header {
  margin-top: 1rem;
}

.fond-popup.open-fond {
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  opacity: 0.8;
}

.popup-formulaire {
  display: flex;
  justify-content: center;
}

input.wpcf7-form-control.wpcf7-submit {
  border-radius: 2px;
  background: #D8D8D8;
  padding: 8px 15px;
}

/* Responsive */
@media (max-width: 992px) {
  .popup {
    width: auto;
    height: auto;
    right: 0;
  }
}
.row-photo {
  display: flex;
  align-items: flex-end;
  margin-left: 10rem;
  margin-right: 10rem;
}
.row-photo .column-left {
  width: 50%;
}
.row-photo .column-left h1 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
}
.row-photo .column-left p {
  font-family: var(--font-title);
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
}
.row-photo .column-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.row-photo .column-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.row-cta {
  height: 118px;
  display: flex;
  margin-left: 10rem;
  margin-right: 10rem;
  border-bottom: 1px solid #000;
}
.row-cta .column-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #000;
}
.row-cta .column-left button.bouton-single {
  border-radius: 2px;
  background: #D8D8D8;
  padding: 8px 15px;
  margin-left: 7rem;
}
.row-cta .column-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.row-cta .column-right .small-photos-header {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.row-cta .column-right img.next-img-photo {
  width: 80px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.row-cta .column-right img.previous-img-photo {
  width: 80px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.row-cta .column-right span.arrow-left-photo-single {
  width: 26px;
  height: 8px;
  cursor: pointer;
}
.row-cta .column-right span.arrow-right-photo-single {
  width: 26px;
  height: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

a:hover.left-arrow {
  text-align: right;
}

a:hover.right-arrow {
  text-align: right;
}

a:hover img.next-img-photo.wp-post-image {
  display: block;
}

a:hover img.previous-img-photo.wp-post-image {
  display: block;
}

/* Responsive */
@media (max-width: 990px) {
  h1.title-home {
    font-size: 3rem;
  }
  .row-photo {
    align-items: center;
    flex-direction: column-reverse;
    margin: 0;
  }
  .row-photo .column-right {
    width: 70%;
  }
  .row-photo .column-left {
    width: 70%;
  }
  .row-photo .column-left h1 {
    font-size: 36px;
  }
  .row-cta {
    margin: 0;
  }
  .row-cta .column-left {
    width: 100%;
    flex-direction: column;
  }
  .row-cta .column-left button.bouton-single {
    margin-left: 0;
  }
  .row-cta .column-right {
    display: none;
  }
}
.latest-photos {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.latest-photos .img-container {
  position: relative;
  display: flex;
  width: 50%;
}
.latest-photos img.thumbnail-photos {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
}
.img-overlay:hover {
  opacity: 1;
}
.img-overlay .header-overlay {
  justify-content: flex-end;
  display: flex;
  height: 165px;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.img-overlay .header-overlay img {
  width: 34px;
  height: 34px;
}
.img-overlay .middle-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 165px;
  cursor: pointer;
}
.img-overlay .middle-overlay img {
  width: 46px;
  height: 31px;
}
.img-overlay .footer-overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 165px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.img-overlay .footer-overlay p.categ-overlay {
  font-family: var(--font-title);
  font-size: 1rem;
  text-transform: uppercase;
}

p.title-lated-posts {
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.1rem;
}

/* Responsive */
@media (max-width: 1515px) {
  .latest-photos img.thumbnail-photos {
    width: 100%;
    height: 417px;
    object-fit: cover;
  }
  .img-overlay {
    width: 100%;
    height: 417px;
  }
}
@media (max-width: 992px) {
  .home .latest-photos .img-container {
    width: 70%;
  }
  p.title-lated-posts {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .latest-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
    gap: 2rem;
  }
  .latest-photos .img-container {
    width: 70%;
  }
  .latest-photos img.thumbnail-photos {
    width: 100%;
    height: 280px;
  }
  .img-overlay {
    width: 100%;
    height: 280px;
  }
}
/* ==========================================================================
 # Font faces declarations
========================================================================== */
@font-face {
  font-family: "Space-Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Space-Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200 300 400 500 600 700;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
/* ==========================================================================
 # Typography
========================================================================== */
html {
  color: var(--color-text);
  font-family: var(--font-default);
  font-size: 100%;
  line-height: 1.5;
}

/* All elements
----------------------------------------------- */
* {
  text-underline-offset: 0.125em;
}

/* Paragraphs
----------------------------------------------- */
p, .p {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-default);
  margin-bottom: 1rem;
  word-break: break-word;
}

strong, b {
  font-weight: var(--font-weight-bold);
}

/* Titles
----------------------------------------------- */
h1, .h1 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h2, .h2 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h3, .h3 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h4, .h4 {
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

h5, .h5 {
  font-family: var(--font-title);
  margin-bottom: 0;
}

/* Lists
----------------------------------------------- */
ul, ol {
  margin: 0;
}
ul li, ol li {
  font-size: 1rem;
  font-weight: var(--font-weight-light);
  line-height: 1.25;
}

/* Links
----------------------------------------------- */
a {
  font-family: var(--font-default);
  color: var(--color-link);
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

/* Accessibility
----------------------------------------------- */
a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.skip-to-content {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-block;
  left: -9999em;
  outline: none;
  padding: 1rem 1.5rem;
  position: absolute;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}
.skip-to-content:focus {
  clip: auto;
  height: auto;
  left: 0.5rem;
  top: 0.5rem;
  width: auto;
  z-index: 100000;
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

/* ==========================================================================
 # Normalize
========================================================================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: var(--font-default);
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  font-family: var(--font-default);
  background-color: transparent;
}

span {
  font-family: var(--font-title);
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  width: 260px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  height: 40px;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

.entry__content.blocks {
  margin-left: 10rem;
  margin-right: 10rem;
}

/* ==========================================================================
 # Variables (CSS)
========================================================================== */
:root {
  /* Basic colors
   ----------------------------------------------- */
  --color-primary: #000;
  --color-primary-dark: #313144;
  --color-primary-light: #C4C4C4;
  --color-secondary: #E00000;
  --color-secondary-dark: #FE5858;
  --color-secondary-light: #FFD6D6;
  /* Typography
    ----------------------------------------------- */
  --font-weight-heavy: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-default: "Poppins",sans-serif;
  --font-title: "Space-Mono",sans-serif;
}

@media (min-width: 992px) {
  img.button-nav-menu-mobile {
    display: none;
  }
  button.js-menu-toggle.menu-toggle {
    border: 0px;
    display: none;
  }
}
@media (max-width: 992px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
  }
  .site-header-first {
    margin: 0;
    display: flex;
  }
  .site-header-first .site-header-logo {
    padding-left: 2rem;
    width: 50%;
  }
  .site-header-first .site-header-menu {
    width: 50%;
  }
  .site-header-first .site-header-menu button.js-menu-toggle.menu-toggle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 0px;
    padding-right: 2rem;
  }
  img.button-nav-menu-mobile {
    display: block;
    cursor: pointer;
  }
  ul#menu-menu-principal {
    display: none;
  }
  .open ul#menu-menu-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    color: #FFF;
    background-color: #E00000;
    left: 0;
    z-index: 9999;
  }
  .open ul#menu-menu-principal a {
    font-size: 3.5rem;
  }
  .active span.button-nav-menu-mobile {
    display: none;
  }
  span.button-close-menu-mobile {
    display: none;
  }
  .active span.button-close-menu-mobile {
    display: block;
  }
  .entry__content.blocks {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}/*# sourceMappingURL=style.css.map */