.popup {
    position: absolute;
    width: 500px;
    height: 690px;
    background-color: #fff;
    top: 13vh;
    right: 36vw;
    z-index: 2;
    display: none;
    border: 3px solid #000;
}

.popup.open {
    display: block;
}

.popup-header {
    margin-top: 1rem;
}

.fond-popup.open-fond {
    background-color: #000;
    width: 99vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: 0.8;
}