ul#menu-pied-de-page {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
        margin-right: 8em;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        a {
            font-family: 'Space-Mono';
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.menu-pied-de-page-container {
    border-top: 1px solid #000;
}


/* Responsive */

ul#menu-pied-de-page li {
    margin-right: 0;
}