footer.site-footer {
    margin-top: 2rem;
}

ul#menu-pied-de-page {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        a {
            font-family: 'Space-Mono';
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.menu-pied-de-page-container {
    border-top: 1px solid #000;
}


/* Responsive */
@media (max-width: 992px) {
    ul#menu-pied-de-page {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}