h1.title-home {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 38%;
    color: transparent;
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #fff;
}

img.attachment-home-featured.size-home-featured.wp-post-image {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
}

.filters-photos {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 5rem;
        .filters-left {
            width: 50%;
            padding-left: 10rem;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .filters-categories {
                margin-right: 2rem;
            }
            p.title-filters-categories {
                display: flex;
                justify-content: space-between;
                border-radius: 8px;
                border: 1.3px solid #B8BBC2;
                background-color: #FFF;
                width: 220px;
                padding: 0.5rem;
                cursor: pointer;
            }
            .title-filters-categories.active svg {
                rotate: 180deg;
            }
            ul.select-categories {
                padding: 0;
                display: none;
            }
            ul.select-categories.open {
                display: block;
                position: absolute;
                z-index: 9999;
            }
            .select-categories {
                    li {
                    background-color: #FFF;
                    width: 220px;
                    padding: 0.5rem;
                    list-style: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #FFD6D6;
                    }
                    &:active {
                        background-color: #FE5858;
                        color: #fff;
                    } 

                }
                li.active {
                    background-color: #E00000;
                    color: #fff;                     
                }
                li.all-categories {
                    color: #fff;

                    &:hover {
                        color: #000;
                    }
                }
            }

            p.title-filters-formats {
                display: flex;
                justify-content: space-between;
                border-radius: 8px;
                border: 1.3px solid #B8BBC2;
                background-color: #FFF;
                width: 220px;
                padding: 0.5rem;
                cursor: pointer;
            }
            .title-filters-formats.active svg {
                rotate: 180deg;
            }
            ul.select-filters {
                padding: 0;
                display: none;
            }
            ul.select-filters.open {
                display: block;
                position: absolute;
                z-index: 9999;
            }
            .select-filters {
                    li {
                        background-color: #FFF;
                        width: 220px;
                        padding: 0.5rem;
                        list-style: none;
                        cursor: pointer;

                        &:active {
                            background-color: #FE5858;
                            color: #fff;  
                        }

                        &:hover {
                            background-color: #FFD6D6;
                        }
                    }
                    li.active {
                        background-color: #E00000;
                        color: #fff;                      
                    }
                    li.all-formats {
                        color: #fff;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        .filters-right {
            width: 50%;
            padding-right: 10rem;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            p.title-filters-tri {
                display: flex;
                justify-content: space-between;
                border-radius: 8px;
                border: 1.3px solid #B8BBC2;
                background-color: #FFF;
                width: 220px;
                padding: 0.5rem;
                cursor: pointer;
            }
            .title-filters-tri.active svg {
                rotate: 180deg;
            }
            ul.select-tri {
                padding: 0;
                display: none;
            }
            ul.select-tri.open {
                display: block;
                position: absolute;
                z-index: 9999;
            }
            .select-tri {
                li {
                    background-color: #FFF;
                    width: 220px;
                    padding: 0.5rem;
                    list-style: none;
                    cursor: pointer;

                    &:active {
                        background-color: #FE5858;
                        color: #fff;  
                    }

                    &:hover {
                        background-color: #FFD6D6;
                    }
                }
                li.active {
                    background-color: #E00000;
                    color: #fff;                      
                }
            }
        }


.select-categories li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select-filters li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select-tri li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.home .latest-photos {
    flex-wrap: wrap;
        .img-container {
            width: calc(50% - 1rem);
        }
}

.load-button {
    display: flex;
    justify-content: center;
    p.load-button-photos {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin-top: 2.5rem;
        background: #D8D8D8;
        width: 272px;
        height: 50px;
        cursor: pointer;
        font-size: 0.8rem;
        font-family: var(--font-title);

        &:hover {
                background: #000;
                color: #fff;
        }
    }
}


/* Responsive */

@media (max-width: 992px) {
    .filters-photos {
        display: flex;
        flex-direction: column;

        .filters-left {
            width: 100%;
            padding-left: 0;
            .filters-categories {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-right: 0;
            }
            .filters-formats {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }

        .filters-right {
            width: 100%;
            padding-right: 0rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}