h1.title-home {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #fff;
}

img.attachment-home-featured.size-home-featured.wp-post-image {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
}