h1.title-home {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 38%;
    color: transparent;
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #fff;
}

img.attachment-home-featured.size-home-featured.wp-post-image {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
}

.primary--home .latest-photos .img-container {
    width: 50%;
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
}