.site-header-first {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
}


ul#menu-menu-principal {
    display: flex;
    list-style: none;
    li{
        margin-right: 1.5em;
        a {
            font-family: 'Space-Mono';
            &:hover {
                font-weight: 700;
            }
        }
    }
    li:last-child {
        margin-right: 0;
    }
}



/* Responsive */

@media (max-width: 1440px) {


}


@media (max-width: 990px) {
    body {
        padding-top: 80px;
    }
    .site-header-first {
        margin: 0;
    }
}