.site-header-first {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
}


ul#menu-menu-principal {
    display: flex;
    list-style: none;
    li{
        margin-right: 1.5em;
        a {
            font-family: 'Space-Mono';
        }
    }
    li:last-child {
        margin-right: 0;
    }
}