.latest-photos {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    .img-container {
        display: flex;
    }
    img.thumbnail-photos {
        width: 564px;
        height: 497px;
        object-fit: cover;
    }
}


.img-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 564px;
    height: 497px;

    &:hover {
        opacity: 1;
    }
    .header-overlay {
        justify-content: flex-end;
        display: flex;
        height: calc(495px / 3);
        margin-top: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        img {
            width: 34px;
            height: 34px;
        }
    }
    .middle-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(495px / 3);
        cursor: pointer;
        img {
            width: 46px;
            height: 31px;
        }
    }
    .footer-overlay {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: calc(495px / 3);
        margin-left: 1rem;
        margin-right: 1rem;
        p.categ-overlay {
            font-family: var( --font-title);
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
}



p.title-lated-posts {
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1rem;
}



/* Responsive */

@media (max-width: 1515px) {
    .latest-photos img.thumbnail-photos {
        width: 484px;
        height: 417px;
        object-fit: cover;
    }
    .img-overlay {
        width: 484px;
        height: 417px;
    }
}


@media (max-width: 990px) {
    p.title-lated-posts {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .latest-photos {
        margin-left: 0rem;
        margin-right: 0rem;
        gap: 2rem;

        img.thumbnail-photos {
            width: 320px;
            height: 280px;
        }
    }
    .img-overlay {
        width: 320px;
        height: 280px;
    }
}